@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?25533467');
  src: url('../font/fontello.eot?25533467#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?25533467') format('woff2'),
       url('../font/fontello.woff?25533467') format('woff'),
       url('../font/fontello.ttf?25533467') format('truetype'),
       url('../font/fontello.svg?25533467#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?25533467#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-youtube:before { content: '\e800'; } /* '' */
.icon-wrench:before { content: '\e801'; } /* '' */
.icon-google:before { content: '\e802'; } /* '' */
.icon-gmail:before { content: '\e803'; } /* '' */
.icon-user-female:before { content: '\f063'; } /* '' */
.icon-users:before { content: '\f064'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
h1 {
  text-align: center;
}
.fondo{
    background-color: antiquewhite;
}

.carrusel {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.carrusel ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 1030px;
  scroll-behavior: smooth;
}

.carrusel-fotos {
  display: flex;
  gap: 10px;
  overflow: auto;
}

.carrusel-fotos img {
  background: black;
  border: 4px solid black;
  width: 300px;
  height: 200px;
  object-fit: contain;
}

.carrusel-menu {
  display: none;
}

@media screen and (min-width: 500px) {
  .carrusel-fotos {
    overflow: hidden;
  }

  .carrusel-fotos img {
    width: 500px;
    height: 400px;
  }
  .carrusel-menu {
    display: block;
  }
  .carrusel-menu img {
    box-sizing: border-box;
    width: 50px;
    height: 40px;
    border: 10px solid black;
  }
  .carrusel-menu img:hover {
    border: none;
  }
  .texto{
      text-align: center;
      display: flexbox;
      gap: 10px;
      justify-content: center;
  }
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.galeria{
  font-family: 'open sans';
}

.galeria h1{
  text-align: center;
  margin:20px 0 15px 0;
  font-weight: 300;
}

.linea{
  border-top: 5px solid #0077C0;
  margin-bottom: 40px;
}

.contenedor-imagenes{
  display:flex;
  width: 85%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius:3px;
}

.contenedor-imagenes .imagen{
  width: 32%;
  position: relative;
  height:250px;
  margin-bottom:5px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
}
.imagen img{
  width: 100%;
  height:100%;
  object-fit: cover;
}
a{
  justify-content:center ;
}
